<h1> Posts </h1>

<% if user_signed_in? %>
  <%= link_to "New post", new_post_path %>
  <ul>
    <% @posts.each do |post|%>
      <li>
        <%= post.title%>
      </li>
    <% end unless @posts.nil?%>
  </ul>
  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to "Log in",  new_user_session_path %>
  <%= link_to "Sign up",  new_user_registration_path %>
<% end %>