<h1> Posts </h1>

<% if user_signed_in? %>
  <%= link_to "New post", new_post_path %>
  <ul>
    <% @posts.each do |post|%>
      <li>
          <h3><%= post.title unless post.title.nil? %></h3>
          <p><%= post.user.email unless post.user_id.nil? %></p>
          <p><%= post.body unless post.body.nil? %></p>
      </li>
    <% end unless @posts.nil?%>
  </ul>
  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <ul>
    <% @posts.each do |post|%>
      <li>
          <h3><%= post.title unless post.title.nil? %></h3>
          <% if user_signed_in? %>
            <p><%= post.user.email unless post.user_id.nil? %></p>
          <% else %>
            <p>Sign in to see the user email</p>
          <% end %>
          <p><%= post.body unless post.body.nil? %></p>
      </li>
    <% end unless @posts.nil?%>
  </ul>
  <ul>
    <li><%= link_to "Log in",  new_user_session_path %></li>
    <li><%= link_to "Sign up",  new_user_registration_path %></li>
  </ul>
<% end %>